.sidebar {
    min-width: 15rem;
    height: 100vh;
    position: relative;
    z-index: 99;
    box-shadow: 0 0 1rem rgba(106, 106, 141, 0.2);
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 3rem 0;
    overflow-x: hidden;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar__icon {
    position: absolute !important;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 1000;
    
  }
  .sidebar__menu {
      margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .sidebar__menuItem {
    padding: 1rem 1.5rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar__menu h3{
    margin-left: 1rem;
  }
  .sidebar__menuIcon {
    transform: scale(0.9);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .sidebar__menuItem.active h3 {
    color: #1380F9;
  }
  .sidebar__menuItem.active .sidebar__menuIcon {
    transform: scale(1);
    fill: #1380F9 !important;
    stroke-width: none !important;
    stroke: transparent !important;
  }
  .sidebar__menuItem:hover .sidebar__menuIcon {
    transform: scale(1.05);
  }
 
  .app__toolTip {
    border-radius: 0.5rem !important;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  }
  .app__toolTipRed {
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(220, 20, 60, 0.15) !important;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      position: absolute;
      left: -15rem ;
      transition: all 0.2s;
    }
    .sidebar.active {
      left: 0;
    }
    
  }
  