.sidebar {
  background: #162c50 !important;
  min-width: 15rem;
  height: 100vh;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 1rem rgba(106, 106, 141, 0.2);
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem 0;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.heading {
  color: white !important;
  font-size: 25px !important;
  margin-bottom: 10px;
}

.divider {
  background: white !important;
  width: 100% !important;
}

/* .sidebar__icon {
  position: absolute !important;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 1000;
} */
.sidebar__menu {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.sidebar__menuItem {
  padding: 10px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar__menu h3 {
  color: #87a8de !important;
  margin-left: 1rem;
}
.sidebar__menuIcon {
  fill: #87a8de !important;
  transform: scale(0.9);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.sidebar__menuItem.active {
  background: #0f1f38;
}

.sidebar__menuItem.active h3 {
  color: white !important;
}

.sidebar__menuItem.active .sidebar__menuIcon {
  transform: scale(1);
  fill: white !important;
  stroke-width: none !important;
  stroke: transparent !important;
}

.sidebar__menuItem:hover {
  background: #0f1f38;
}

.sidebar__menuItem:hover h3 {
  color: white;
}

.sidebar__menuItem:hover .sidebar__menuIcon {
  transform: scale(1.05);
  fill: white !important;
}

.app__toolTip {
  border-radius: 0.5rem !important;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}
.app__toolTipRed {
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(220, 20, 60, 0.15) !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    position: absolute;
    left: -15rem;
    transition: all 0.2s;
  }
  .sidebar.active {
    left: 0;
  }
}
